.header {
    background-color: var(--bg-color);
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerSelect {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    border-bottom: solid 2px var(--blue);
    padding: 0.5rem;
    font-family: var(--letter);
    text-transform: uppercase;
    font-weight:normal;
    width: auto;
    height: 2.3rem;
    border-radius: 5px;
}

.headerSelect:hover {
    background-color: var(--bg-color-hover);
    transition: 0.25s;
}

.cardContainer {
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 9px;
}