.searchBar{
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 4px;
    border-style: none;
    outline: none;
    /* border-bottom: solid 2px var(--red); */
}

.searchBar:hover {
    border-bottom: solid 2px var(--red);
    transition: 0.25s;
}

.searchButton{
    cursor: pointer;
    background-color: var(--bg-color-hover);
    font-weight: 600;
    padding: 0.55rem 1.5rem;
    margin-left: 0.5rem;
    border-style: none;
    border-radius: 5px;
    border-bottom: solid 1px blue;
}

